.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 150px;
}
.columns{
  display: flex;
  flex-direction: row;
}

.column{
  display: flex;
  flex-direction: column;
}

.column div{
  cursor:pointer;
}
.column img{
margin-bottom: -60px;
}

.dragging {
  position: absolute;
  pointer-events: none;
  z-index: 100;
}


.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main::before {
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url('https://lh3.googleusercontent.com/u/0/drive-viewer/AITFw-zzNKuIHPJs4hya-b3G2RvfipHXMS5Idk-pIUc1O-QrVaILqQ1ZdBDHM5nKjlMUdpV8B0ArU_YK0PN7vw3Nj-y6tb9L=w1366-h611');
  background-repeat: repeat;
  opacity: 0.92;
  z-index: -1;
}

.buttonWrapper{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.buttonWrapper img{
  border: solid rgba(0,0,0,0) 3px;
  border-radius:10px;
}

.buttonWrapper img:hover{
  border:solid #bb1 3px;
}
